.pastEventsCard{
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px #b3b6ba;
    margin: 10px;
  }
  
  .peventCard p{
    margin: 15px;
    padding: 5px;
    width: 40%;
  }
  
  .peventCard h4{
    margin: 5px;
    padding: 10px;
    width: 30%;
  }
  
  .peventCard p i{
    margin-right: 10px ;
    background-color: #0064E0;
    padding: 10px;
    color: white;
    border-radius: 35%;
  }
  
  .viewPastEvent {
    width: 100px;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color:  #0064E0;;
    box-shadow: #7b9bb5;
    color: white;
    font-size: 16px;
  }
  
  .viewEvent {
      /* width: 30%; */
      padding: 5px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      background-color:  #0064E0;;
      box-shadow: #7b9bb5;
      color: white;
      font-size: 16px;
  }
  
  
.noPastEventsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPastEventsContainer img{
    width:20%;
    height: 40%;
    margin: 10px;
}
